body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.note-button {
  background-color: rgb(255, 166, 0);
  border: none;
  color: rgb(113, 64, 0);
  padding: 100px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
.note-button:hover {
  background-color: rgb(255, 166, 0);
  color: rgb(113, 64, 0);
  box-shadow: 0px 0px 5px 5px rgba(255, 166, 0, 0.7);
}
.note-button:active {
  background-color: rgb(163, 106, 0);
  border: none;
  color: rgb(113, 64, 0);
  padding: 100px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
.instrument-button {
  background-color: rgb(255, 72, 0);
  border: none;
  color: rgb(216, 216, 216);
  padding: 50px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
.instrument-button:hover {
  background-color: rgb(255, 72, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 5px rgba(255, 72, 0);
}
.instrument-button:active {
  background-color: rgb(175, 51, 2);
  border: none;
  color: rgb(255, 255, 255);
  padding: 50px 30x;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}
